{% extends 'base.html.twig' %}

{% block body %}
<main>
    <section>
    
    {{ ux_icon('tabler:user', {height: '1.25em', width: '1.25em'}) }}
    {{user.email}}
    <a href="/logout">{{ ux_icon('tabler:logout', {height: '1.25em', width: '1.25em'}) }} logout</a>
    </section>
</main>
{% endblock %}
